/*@media only screen and (max-width: 1310px) {
    .sub-title {
        animation: none;
    }
    .title {
        font-size: 3rem;
    }
    .app__heading, 
.beauty__heading,
.cerc__heading,
.day__heading {
        padding: 2rem 0 2rem 3rem;
        font-size: 1rem;  
}
     
.app__text,
.beauty__text,
.cerc__text, 
.day__text {
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: 1px;
    }
    
.app__challenge,
.beauty__challenge,
.cerc__challenge,
.day__challenge {
        color: #8e8b8b;
        font-size: 1rem;
        margin: 2rem 0 1rem 2rem;
        padding-top: 0;
}
    
.app__achievements,
.beauty__achievements, 
.cerc__achievements,
.day__achievements {
        font-size: 1rem;
        margin-left: 2rem; 
}
    .container-1,
    .container-3,
    .container-2,
    .container-4 {
        grid-column: col-start 3/ col-end 6;
    }
    
    .card {
        width: 70%;
    }
}

@media (max-width: 960px) {
    .biography {
        padding: 2rem 1rem;

    }
}

@media (max-width: 870px) {
    .card {
        width: 100%;
    }
    .biography {
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    .container-1,
    .container-3,
    .container-2,
    .container-4 {
        grid-column: center-start / center-end;
    }
    .biography{
        grid-column: center-start / center-end;
        margin: 0 auto;
        text-align: left;
        color: #fff;
        background-image: linear-gradient(rgba(168, 8, 70, 0.67), rgba(97, 85, 136, 0.93)), url(img/me.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .source-text {
    background: -webkit-linear-gradient(#fff, #fff);
     background: linear-gradient(57deg, rgba(255, 255, 255, 0.94),  rgba(255, 255, 255, 0.87));
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     text-fill-color: transparent;   
}
    .var {
        background: #ffdb12;
         -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;}
    .paragraphs {
        display: none;
    }
    
    
.bio, .obj {
    background: #66cec2;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;
}
}


@media (max-width: 560px) {
    .container-1,
    .container-3,
    .container-2,
    .container-4 {
        grid-column: full-start / full-end;
    }
    .card {
        box-shadow: none;
    }
}











