@media only screen and (max-width: 1200px) {
    .biography {
        font-size: 1.5rem;
        padding: .5rem .2rem;
    }

    .card {
        grid-column: 1 / -1;
    }
    .app__heading, 
    .beauty__heading,
    .cerc__heading,
    .day__heading {
        padding: 1.2rem 3rem;
    }

    .app__challenge,
    .beauty__challenge,
    .cerc__challenge,
    .day__challenge {
        margin-top: .5rem;
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 900px) {
     .wrapper {
        grid-template-rows: 3rem 90vh repeat(5, min-content); 
         grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
     }
    
     .sidebar {
        grid-column: 1 / -1;
         grid-row: 1 /span 1;
        height: 3rem;
        display: flex;
        padding: .2rem 0;
        justify-content: space-around;
        align-items: center;
        }
     
     .sidebar-item {
         padding: 0;
         letter-spacing: 0;
         font-size: 1rem;
     }
   
    .sidebar-item::before {
        visibility: hidden;
    }
    .letter-wrapper {
        grid-row: 2 / span 1;
    }
    .animation { display: none;}
    
    .skill {
        font-size: 3rem;
    }
}




@media only screen and (max-width: 600px) {
    .bio-container {
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;}
   
     .source-text {
        padding: 3rem;
    }
}





