@media only screen and (max-width: 1200px) {
    .biography {
        font-size: 1.5rem;
        padding: .5rem .2rem;
    }

    .card {
        margin: .2rem 0;
        grid-column: 1 / -1;
    }
    .app__heading, 
    .beauty__heading,
    .cerc__heading,
    .day__heading {
        padding: .8rem 3rem;
    }

    .app__challenge,
    .beauty__challenge,
    .cerc__challenge,
    .day__challenge {
        margin-top: .2rem;
        padding-top: .8rem;
    }
}

@media only screen and (max-width: 900px) {
     .container {
         grid-template-rows: 6rem auto auto;
         grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
     }
     
     .sidebar {
        grid-column: 1 / -1;
        grid-row: auto;
        display: grid;
        grid-template-columns: repeat(5, auto);   
         }
     
     .sidebar-item {
         padding: 0;
         letter-spacing: 0;
         font-size: 1rem;
         display: inline-block;
     }
     .hidden { visibility: hidden;}
}


@media only screen and (max-width:700px) {
    .letter-wrapper {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .bio-container {
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;}
   
     .source-text {
        padding: 3rem;
    }
}





